
.navbar-default {
  padding-right: 10px;
  padding-left: 10px;
}

.jumbotron {
  padding-top: 27vh;
  padding-right: 10px;
  padding-left: 10px;       
  background-image: url("../Images/Ocean.jpeg");
  background-attachment: static;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px #060606;
  font-variant-position: 10px; 
  min-height: 30vh;
  max-height: 70vh !important; 
}

.circle {
  width:155px;
  height:155px;
  border-radius:150%;
  background-image: url("../Images/me2.jpeg");
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  padding-top: 25px;
}

.about {
  padding-top: 150px;
  padding-bottom: 17px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100vh;
}

.media {
  padding-left: 70px;
  padding-top: 10px;
}

.fa-facebook-square {
  font-size: 24px;
  color: silver;
}

.fa-twitter-square {
  font-size: 24px;
  color: silver; 
}

.fa-github-square {
  font-size: 24px;
  color: silver;
}

.fa-linkedin-square {
  font-size: 24px;
  color: silver;
}

.fa-pinterest-square {
  font-size: 24px;
  color: silver;
}

.footer {
  background: #306a7f;
  padding-right: 10px;
  padding-left: 10px;     
  color: #fff;
  font-size: 24px;
  height: 37px;
  background-position: center;
  text-align: center;
}

body {
  padding-bottom: 47px;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #306a7f;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-color; black;
}
